.operationPage {
  padding: 10% 5% 0;

  .numpad-container, .ok-btn {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .pod-info-block {
    span {
      color: #FFF;
      font-size: 1.5rem;
      white-space: nowrap;
    }
  }

  h4 {
    color: #fff;
  }

  .action-group-container {
    margin-top: 50px;
    height: 116px;

    .scan-input-group, .action-btn-group {
      width: 270px;
      display: inline-block;
    }

    .scan-input-holder {
      // opacity: 0;
      // width: 0;
      margin: 10px;

      .ui.input {
        width: 250px;
        // width: 0;
      }
    }

    .action-btn-group {
      vertical-align: bottom;

      button {
        height: 116px;
      }
    }
  }
}


