.operationPage {
  padding: 10% 5% 0;

  .numpad-container, .ok-btn {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .pod-info-block {
    span {
      color: #FFF;
      font-size: 1.5rem;
      white-space: nowrap;
    }
  }

  h4 {
    color: #fff;
  }

  // .scan-input-holder {
  //   opacity: 0;
  //   width: 0;
  //   input {
  //     width: 0;
  //   }
  // }
}


