.side-navigation {
  height: 100%;
  background: #000;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.nav-station-container {
  color: #fff;
  height: 50px;
  span {
    font-size: 1.5rem;
  }
}

.nav-item-container {
  
  .nav-btn {
    width: 100%;
    height: 80px;
    margin: 1rem 0;
  }

}

.nav-top {
  flex: 0 0 auto;
}
.nav-buffer {
  flex: 1 1 auto;
}

.nav-bottom {
  flex: 0 0 auto;
}
