.replenish-operation-page {
  padding: 100px 5% 0;
}

// .numpad-container {
//   position: absolute;
//   bottom: 0;
//   right: 0;
// }

.pod-info-block {
  span {
    color: #FFF;
    font-size: 2rem;
    white-space: nowrap;
  }
}
