$bg-color: rgb(84, 84, 99);

html, #root, .app-comp-container {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $bg-color;
  min-height: 100%;
}

.menu-page {
  padding-top: 15%;
}